* {
    box-sizing: border-box;
}

body {
    margin: 10px 0;
    padding: 0;
    font-family: monospace;
}

main {
    border: 2px solid #000000;
    max-width: 40%;
    margin: auto;
    padding: 15px;
}

#titulo, h2 {
    text-align: center;
}

img {
    max-width: 100%;
}