* {
    box-sizing: border-box;
}

div {
    background-color: pink;
    border: 2px solid #000;
    font-family: monospace;
    font-size: 22px;
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.grid {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 250px 150px 250px;
    grid-gap: 15px;
    justify-content: center;
}

.pink {
    background-color: #FFB7B2;
    grid-column: 1 / 4;
}

.green {
    background-color: #E2F0CB;
}

.blue {
    background-color: #B5EAD7;
}